<header>
    <nav>
        <a href='/'>My Shop</a>
        <a href='/login'>Login</a>
        <a href='/register'>Register</a>
        <a href='/users'>Users</a>
        <a href='/users/new'>Add User</a>
    </nav>
</header>